---
import "../styles/global.css";

const pageTitle = "Acerca de MarcosSarLo";

const identity = {
	firstName: "Marcos",
	country: "Perú",
	occupation: "Webmaster",
	hobbies: ["Music", "Alianza Lima", "Fotografía", "Series", "IA"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Diseño Gráfico"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "purple";
const fontWeight = "bold";
const textCase = "uppercase";

import Layout from '../layouts/Layout.astro';
import HeaderReact from "../components/HeaderReact";
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Footer from "../components/Footer.vue";
---

<Layout title={pageTitle}>
	<main>		
		<HeaderReact title="Header in React"/>

		<!-- <Header title={pageTitle} />	 -->
		<Hero />		
		
		<h1>{pageTitle}</h1>
		<h2>... ¡y mi nuevo sitio Astro!</h2>

		<p>Estoy trabajando en el tutorial introductorio de Astro. Esta es la segunda página de mi sitio web, ¡y es la primera que he construido yo mismo!</p>

		<p>Este sitio se irá actualizando a medida que vaya completando más partes del tutorial, ¡así que no dejes de visitarlo para ver cómo va mi viaje!</p>
		<hr><br>

		<!-- Utilizando expresiones JavaScript en el FrontMatter de Astro -->
		<h1>Utilizando expresiones JavaScript en el FrontMatter de Astro</h1>
		<p>He aquí algunos datos sobre mí:</p>
		<ul>
			<li>Me llamo {identity.firstName}</li>
			<li>Vivo en {identity.country} y trabajo como {identity.occupation}</li>
			{identity.hobbies.length >= 2 &&
				<li>Dos de mis aficiones son: {identity.hobbies[0]} y {identity.hobbies[1]}</li>
			  }
		</ul>
		<hr>
		<p>Mis habilidades son:</p>
		<ul>
			{skills.map((skill) => <li class="skill">- {skill}</li>)}
		</ul>
		<hr><br>

		<!-- Renderización condicional de elementos -->
		<h1>Renderización condicional de elementos</h1>
		<!-- {happy && <p>¡Estoy feliz de aprender Astro!</p>} -->
		{happy ? <p>¡Estoy feliz de aprender Astro! <code>:)</code> </p> : <p>¡Es un poco dificil aprender Astro! <code>:(</code></p>}
		{finished && <p>¡He terminado este tutorial!</p>}
		{goal === 3 ? <p>Mi objetivo es terminar en 3 días.</p> : <p>Mi objetivo no son 3 días.</p>}

		<!--
		<ul role="list" class="link-card-grid">
			{
				allPosts.map((item) => (
					<Card
						title={item?.frontmatter.title}
						time={item?.frontmatter.pubDate}
						tags={item?.frontmatter.tags}
					/>
				))
			}
		</ul>
		-->		
	</main>
	<Footer />
</Layout>

/* pasar variables CSS directamente desde el frontmatter */
<style define:vars={{skillColor, fontWeight, textCase}}>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	h1 {
		font-size:xx-large;
	}
	h2 {
		font-size:x-large
	}
	.skill {
    	color: var(--skillColor);
    	font-weight: var(--fontWeight);
		text-transform: var(--textCase);
  }
</style>
